<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="my-4">Recent Assessments</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 mt-2 mb-4">
      <div class="table-responsive-sm">
        <table class="table table-sm table-hover ">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Account Name</th>
              <th scope="col">Project Name</th>
              <th scope="col">Automation Status</th>
              <th scope="col">Platform</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>IPF</td>
              <td>PIPS</td>
              <td>Partially Automated</td>
              <td>Open Source</td>
              <td>
                <a class="btn btn-sm btn-outline-dark" [routerLink]="['/new-assessment']"><span class="oi oi-pencil"></span></a> 
                <a class="btn btn-sm btn-outline-dark mx-lg-1"><span class="oi oi-eye"></span></a> 
                <a class="btn btn-sm btn-outline-danger"><span class="oi oi-trash"></span></a> 
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>CAPITA</td>
              <td>SIMS 7</td>
              <td>Partially Automated</td>
              <td>Open Source</td>
              <td>
                <a class="btn btn-sm btn-outline-dark" [routerLink]="['/new-assessment']"><span class="oi oi-pencil"></span></a> 
                <a class="btn btn-sm btn-outline-dark mx-lg-1"><span class="oi oi-eye"></span></a> 
                <a class="btn btn-sm btn-outline-danger"><span class="oi oi-trash"></span></a> 
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>MCL</td>
              <td>MCL</td>
              <td>None</td>
              <td>Open Source</td>
              <td>
                <a class="btn btn-sm btn-outline-dark" [routerLink]="['/new-assessment']"><span class="oi oi-pencil"></span></a> 
                <a class="btn btn-sm btn-outline-dark mx-lg-1"><span class="oi oi-eye"></span></a> 
                <a class="btn btn-sm btn-outline-danger"><span class="oi oi-trash"></span></a> 
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Together</td>
              <td>ZEN</td>
              <td>Partially Automated</td>
              <td>Mircrosoft</td>
              <td>
                <a class="btn btn-sm btn-outline-dark" [routerLink]="['/new-assessment']"><span class="oi oi-pencil"></span></a> 
                <a class="btn btn-sm btn-outline-dark mx-lg-1"><span class="oi oi-eye"></span></a> 
                <a class="btn btn-sm btn-outline-danger"><span class="oi oi-trash"></span></a> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>